/* builddegree.css */
.builddegree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.builddegreecontent {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.builddegree-title {
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 25pt;
  font-weight: 700;
  color: #070F2B;
}

.builddegree-horizontalline {
  border-bottom: 2px solid #FCD3CA;
  width: 100%;
  padding:  5px 30px;
  margin-left: -20px;
}

.builddegree-graph {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.builddegree-button {
  align-self: flex-start;
  margin-top: -20px;
  margin-left: 30px;
}
