.builddegree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.builddegreecontent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  min-height: 85%;
}


.builddegree-title {
  font-size: 25pt;
  font-weight: 700;
  color: #070F2B;
}

.builddegree-horizontalline {
  border-bottom: 2px solid #FCD3CA;
  width: 100%;
  padding:  5px 30px;
  margin-left: -20px;
}

.builddegree-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px;
  /* padding: 100px; */
}