/* builddegree.css */
.builddegree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 120px;
  padding-bottom: 110px;
}

.builddegree-container {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.builddegree-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  width: 90%;
  box-sizing: border-box;
  min-height: 570px;
  height: calc(85vh - 130px);
  margin-top: -20px;
  overflow-x: hidden;
}

.builddegree-title {
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 25pt;
  font-weight: 700;
  color: #010B14;
}

.builddegree-horizontalline {
  border-bottom: 2px solid #475e49;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
  box-sizing: content-box;
  padding-top: 10px;
}

.builddegree-maintext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.builddegree-clo {
  width: 100%;
  
}

.builddegree-labels {
  margin-top: 10px;
  overflow-wrap:normal;
}

.builddegree-graph {
  width: 90%;
  margin-top: 20px;
  flex: 1; 
  min-height: 400px; 
  align-self: center;
}

.builddegree-button-container {
  align-self: flex-start;
  margin-top: 20px;
}

/* Media query for smaller viewports */
@media (max-height: 660px) {
  .builddegree-container {
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 110px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .builddegree-content {
    width: 85%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .builddegree-content {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .builddegree-content {
    width: 85%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .builddegree-content {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .builddegree-content {
    width: 70%;
  }
}
