.courseoutline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
  /* height: 90vh; */
}

.coursecontent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.course-title {
  font-size: 25pt;
  font-weight: 700;
  color: #070F2B;
  text-wrap: nowrap;
}

.course-horizontalline {
  border-bottom: 2px solid #FCD3CA;
  width: 100%;
  padding:  5px 20px;
  margin-left: -20px;
}

.course-title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseoutline-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 400px; /* Adjust this value as needed */
  overflow-x:hidden;
}

.next-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  /* padding: 0px 10px; */
  cursor: pointer;
  z-index: 1000;
}

.courseoutline-box {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 3px dashed #FCD3CA;
  width: 95%;
  min-height: 120px;
}

.button:hover {
  background-color: #7d062e;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .course-title-content {
    flex-direction: column;
    align-items: start;
  }
  .courseoutline-selection {
    grid-template-columns: repeat(1, 1fr);
  }
  .coursecontent {
    min-height: 70vh;
    max-height: 70vh;
  }
  .next-button {
    right: 30px;
    bottom: 15px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .courseoutline-container {
    margin-top: 30px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}