.courseoutline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
}

.courseoutline-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  width: 90%;
  box-sizing: border-box;
  min-height: 570px;
  height: 80vh;
  overflow-y: auto;
}

.course-title {
  font-size: 25pt;
  font-weight: 700;
  color: #070F2B;
  text-wrap: nowrap;
}

.course-horizontalline {
  border-bottom: 2px solid #FCD3CA;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
  box-sizing: content-box;
  padding-top: 10px;
}

.course-title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.courseoutline-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.courseoutline-box {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 3px dashed #FCD3CA;
  width: 95%;
  /* min-height: 120px; */
  height: 120px;
}

.button {
  
}

.button:hover {
  background-color: #7d062e;
}

.box {
  position: absolute;
  top: 50px;
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 10px 0.2em rgba(0, 0, 0, 0.1); 
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -20px;
}

.filter-button-container {
  align-items: center; 
  display: flex;
  position: relative; 
  width: 100%;
}

/* Media query for smaller viewports */
@media (max-height: 660px) {
  .courseoutline-wrapper {
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .course-title-content {
    flex-direction: column;
    align-items: start;
  }
  .courseoutline-selection {
    grid-template-columns: repeat(1, 1fr);
  }
  .courseoutline-container {
    width: 85%;
  }
  .search-bar {
    display: none;
  }
  .search-bar-filter {
    display: block;
  }
  .filter-button-container {
    justify-content: space-between
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .course-title-content {
    flex-direction: row;
  }
  .courseoutline-selection {
    grid-template-columns: repeat(1, 1fr);
  }
  .courseoutline-container {
    width: 90%;
  }
  .search-bar {
    display: none;
  }
  .search-bar-filter {
    display: block;
  }
  .filter-button-container {
    justify-content: end
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .courseoutline-selection {
    grid-template-columns: repeat(2, 1fr);
  }
  .courseoutline-container {
    width: 85%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .courseoutline-container {
    width: 80%;
  }
  .search-bar {
    display: block;
  }
  .search-bar-filter {
    display: none;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .courseoutline-container {
    width: 70%;
  }
}