.courseoutline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  height: 80vh;
  min-height: 500px;
}

.coursecontent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.course-title {
  font-size: 25pt;
  font-weight: 700;
  color: #070F2B;
  text-wrap: nowrap;
}

.course-horizontalline {
  border-bottom: 2px solid #FCD3CA;
  width: 100%;
  padding:  5px 20px;
  margin-left: -20px;
}

.course-title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseoutline-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  overflow-y: auto;
  /* height: 100%; Adjust this value as needed */
  overflow-x:hidden;
}

.courseoutline-box {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 3px dashed #FCD3CA;
  width: 95%;
  /* min-height: 120px; */
  height: 120px;
}

.button {
  
}

.button:hover {
  background-color: #7d062e;
}

.box {
  position: absolute;
  top: 50px;
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 10px 0.2em rgba(0, 0, 0, 0.1); 
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -20px;
}

.filter-button-container {
  align-items: center; 
  display: flex;
  position: relative; 
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .course-title-content {
    flex-direction: column;
    align-items: start;
  }
  .courseoutline-selection {
    grid-template-columns: repeat(1, 1fr);
  }
  .coursecontent {
    width: 85%;
    margin-top: 30px;
  }
  .search-bar {
    display: none;
  }
  .search-bar-filter {
    display: block;
  }
  .filter-button-container {
    justify-content: space-between
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .course-title-content {
    flex-direction: row;
  }
  .courseoutline-selection {
    grid-template-columns: repeat(1, 1fr);
  }
  .coursecontent {
    width: 80%;
  }
  .search-bar {
    display: none;
  }
  .search-bar-filter {
    display: block;
  }
  .filter-button-container {
    justify-content: end
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .courseoutline-selection {
    grid-template-columns: repeat(2, 1fr);
  }
  .coursecontent {
    width: 65%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .coursecontent {
    width: 80%;
  }
  .search-bar {
    display: block;
  }
  .search-bar-filter {
    display: none;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .coursecontent {
    height: 90%;
    width: 75%;
  }
}