.exam-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: flex-start;
  padding-top: 150px;
  padding-bottom: 110px;
}

.exam-container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  box-sizing: border-box;
  min-height: 570px;
  height: calc(85vh - 130px);
  margin-top: -20px;
  overflow-y: auto;
}

.exam-title {
  font-size: 25pt;
  font-weight: 700;
  color: #010B14;
  text-wrap: nowrap;
}

.exam-horizontalline {
  border-bottom: 2px solid #475e49;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
  box-sizing: content-box;
  padding-top: 10px;
}

.exam-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  flex-grow: 1;
}

/* Media query for smaller viewports */
@media (max-height: 660px) {
  .exam-wrapper {
    align-items: flex-start;
    padding-top: 140px;
    padding-bottom: 110px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .exam-container {
    width: 85%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .exam-container {
    width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .exam-container {
    width: 85%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .exam-container {
    width: 80%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .exam-container {
    width: 70%;
  }
}