.navigation-container {
  background-color: #475e49;
  height: 90px;
  color: #F4F7F3;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  /* border-bottom: 2px solid #3D3556; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
}

.navigation-text-container {
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-bottom: 17px;
  position: relative;
}

.navigation-title {
  padding-right: 15px;
  font-weight: 700;
  font-size: 14pt
}

.vertical-line {
  /* border-left: 2px solid #ffffff; */
  height: 90px;
  margin-bottom: -17px;
  padding-right: 40px;
}

.nav-list-item-container {
  padding-right: 40px;
}
.navigation-list-items {
  display: flex;
  flex-direction: row;
}

.nav-list-item {
  text-decoration: none;
  color: #F4F7F3;
  padding: 0 5px;
  text-wrap: nowrap;
  font-weight: 600;
} 

.nav-list-item:hover {
  border-bottom: 2px solid #F4F7F3;
}

.burger-navigation {
  position: absolute;
  width: 90vw;
  margin-bottom: -10px;
}

.burger-navigation-list-item {
  text-decoration: none;
  color: #070F2B;
}

.burger-navigation-list-item-menu:hover {
  border-bottom: 2px solid #070F2B;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navigation-container {
    height: 60px;
  }
  .vertical-line {
    height: 60px;
  }
  .burger-navigation {
    display: block;
    text-align: right;
  }
  .navigation-list-items {
    display: none;
  }
  .nav-list-item {
    color: #070F2B;
  }
  .nav-list-item-hover {
    border-bottom: 2px solid #070F2B;
  }
  .nav-list-item:hover {
    border-bottom: 2px solid #070F2B;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .burger-navigation {
    display: none;
  }
  .navigation-list-items {
    display: flex;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}