.navigation-container {
  background-color: #070F2B;
  height: 110px;
  color: #FCD3CA;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.navigation-text-container {
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-bottom: 17px;
  position: relative;
}

.navigation-title {
  padding-right: 15px;
  font-weight: 700;
  font-size: 14pt
}

.vertical-line {
  border-left: 2px solid #FCD3CA;
  height: 110px;
  margin-bottom: -17px;
  padding-right: 40px;
}

.nav-list-item-container {
  padding-right: 40px;
}
.navigation-list-items {
  display: flex;
  flex-direction: row;
}

.nav-list-item {
  text-decoration: none;
  color: #FCD3CA;
  padding: 0 5px;
  text-wrap: nowrap;
} 

.nav-list-item-hover {
  border-bottom: 2px solid #FCD3CA;
}
.nav-list-item:hover {
  border-bottom: 2px solid #FCD3CA;
}

.burger-navigation {
  position: absolute;
  width: 90vw;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navigation-container {
    height: 80px;
  }
  .vertical-line {
    height: 80px;
  }
  .burger-navigation {
    display: block;
    text-align: right;
  }
  .navigation-list-items {
    display: none;
  }
  .nav-list-item {
    color: #070F2B;
  }
  .nav-list-item-hover {
    border-bottom: 2px solid #070F2B;
  }
  .nav-list-item:hover {
    border-bottom: 2px solid #070F2B;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .burger-navigation {
    display: none;
  }
  .navigation-list-items {
    display: flex;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}