.upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
}

.container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 600px;
  width: 70%;
  box-sizing: border-box;
  min-height: 570px;
}

.container_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 1rem; 
  font-size: 1.5rem;
  line-height: 2rem; 
  font-weight: 700; 
}

.button_group {
  display: flex; 
  margin-left: 30px;
}

#button_outline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px; 
  cursor: pointer; 
}

#button_exam {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px; 
  cursor: pointer; 
}

.button_group button.active {
  background-color: #AB1748;
  color: #FFFFFF; 
}

.button_group button {
  background-color: #E5E7EB;
  color: #AB1748;
  border: 0;
}

.upload_form {
  padding: 1rem; 
  border-radius: 0.5rem; 
  border: 2px dashed #D1D5DB;
  text-align: center; 
  width: 95%;
  margin-top: 2px;
  flex-grow: 1;
}

i {
  margin-bottom: 1rem; 
  font-size: 2.25rem;
  line-height: 2.5rem; 
  color: #AB1748; 
}

p {
  margin-bottom: 1rem; 
}

.max_size_label {
  margin-top: 1rem; 
  font-size: 0.875rem; 
  line-height: 1.25rem; 
  color: #6B7280; 
  margin-bottom: 0;
}

.supported_file_label {
  font-size: 0.875rem;
  line-height: 1.25rem; 
  color: #6B7280; 
  margin-bottom: 0;
}

.fa-cloud-upload-alt {
  padding-top: 10px;
}
.drop-file-input {
  position: relative;
  width: 100%;
  height: 100px; 
  border: 2px dashed #D1D5DB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.drop-file-input.dragover {
  background-color: #f0f0f0;
}

.drop-file-input__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-file-input__label i {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #AB1748;
}

.drop-file-input__label p {
  margin-top: 0.5rem;
  color: #6B7280;
}


/* Media query for smaller viewports */
@media (max-height: 660px) {
  .upload-wrapper {
    align-items: flex-start;
    padding-top: 110px;
    padding-bottom: 30px;
  }
}