# This workflow will build the docker containers for the backend and frontend services
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Docker container builds

on:
  push:
    branches: [ "ps/docker-arm", "main" ]

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build_backend:
    runs-on: ubuntu-latest
    name: Build and push backend Docker image
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    defaults:
      run:
        working-directory: ./api
    env:
      IMG_NAME: f11adts/coursemapper-api-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Configure Docker metadata
        id: metadata
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMG_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value={{sha}},enable=${{ github.ref_type != 'tag' }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v2
        with:
          context: ./api
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/arm/v7,linux/arm64
        
  build_frontend:
    runs-on: ubuntu-latest
    name: Build and push frontend Docker image
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    defaults:
      run:
        working-directory: ./frontend
    env:
      IMG_NAME: f11adts/coursemapper-frontend-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Configure Docker metadata
        id: metadata
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMG_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value={{sha}},enable=${{ github.ref_type != 'tag' }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/arm/v7,linux/arm64