# This workflow will install Python dependencies, run tests, and upload the results as a build artifact.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python backend tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test_backend:
  # TK: self-host
    runs-on: ubuntu-latest
    env:
      MARIADB_HOST: localhost
    defaults:
      run:
        working-directory: ./api
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    services:
      mariadb:
        image: mariadb:11
        ports: 
          - 3306:3306
        env:
          MARIADB_RANDOM_ROOT_PASSWORD: 1
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 1
          MARIADB_DATABASE: f11ap16
          MARIADB_USER: backend
          MARIADB_PASSWORD: bb11a381f2c1bd26e64a1ba76c32b4ea
        options: >-
          --health-cmd "healthcheck.sh --connect --innodb_initialized"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python # Set Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      # Install pip and pytest
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          ./setup.sh
          pip install pytest
      - name: Test with pytest
        run: |
          cd src
          pytest -k test --doctest-modules --junitxml=junit/test-results-${{ matrix.python-version }}.xml
      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}
          path: api/src/junit/test-results-${{ matrix.python-version }}.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}

  lint_backend:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python # Set Python version
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      # Install pip and pytest
      - name: Install dependencies
        run: |
         python -m pip install --upgrade pip
         pip install ruff
      - name: Lint with ruff
        run: |
          ruff check

      